<h1>Listing notifications</h1>

<table>
  <thead>
    <tr>
      <th>Api</th>
      <th>Notification type</th>
      <th>Recipients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.api_id %></td>
        <td><%= notification.notification_type %></td>
        <td><%= notification.recipients %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


