<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1 class="text-center">API settings</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">

    <table>
      <thead>
      <tr>
        <th>Api</th>
        <th>Email notification</th>
        <th>Sms notification</th>
        <th>Email ids</th>
        <th>Phone numbers</th>
        <td></td>
      </tr>
      </thead>

      <tbody>
      <% @settings.each do |setting| %>
          <tr>
            <td><%= setting.api.name %></td>
            <td><%= setting.email_notification %></td>
            <td><%= setting.sms_notification %></td>
            <td><%= (setting.email_ids.join(','))[0..30] + ( "..." if setting.email_ids and setting.email_ids.join(',').size > 50)%></td>
            <td><%= setting.phone_numbers %></td>
            <td><%= link_to 'Edit', edit_setting_path(setting) , :class => "button success tiny radius"  %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

